* {
  padding: 0;
  margin: 0;
}

body {
  background-color: red;
}

#mapContainer {
  background-color: blue;
  width: 80%;
  height: 80%;
}

#bigMap {
}

#edge{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
}