body {
  background-color: red;
}

#mapContainer {
  background-color: blue;
  width: 80%;
  height: 80%;
  overflow: scroll;
  position: relative;
}

#edge {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

.image {
  padding-top: 1450px;
  padding: 1450px 2248px;
}

#coordView {
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: bisque;
  top: 0;
  left: 0;
}

.coord {
  flex: auto;
}